@import "tailwindcss";

/* Sử dụng font Poppins toàn site */
:root {
  --font-sans: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-emerald-50;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
